[submodule "srcs/libft"]
	path = srcs/libft
	url = https://github.com/hauh/libft.git
[submodule "srcs/get_next_line"]
	path = srcs/get_next_line
	url = https://github.com/hauh/get_next_line.git
[submodule "srcs/ft_printf"]
	path = srcs/ft_printf
	url = https://github.com/hauh/ft_printf.git
